<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitRoutine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <script>
        function confirmLogout(event) {
            event.preventDefault();
            var userConfirmed = confirm("¿Estás seguro de que quieres cerrar sesión?");
            if (userConfirmed) {
                window.location.href = event.target.href;
            }
        }
    </script>
    
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'users:profile' %}">Perfil</a></li>
                <li><a href="{% url 'workouts:workouts' %}">Entrenamientos</a></li>
                <li><a href="{% url 'manual:indice' %}">Manual</a></li>
                <li><a href="{% url 'welcome' %}"onclick="confirmLogout(event)">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Entrenamientos</h2>
        <p>Días de Entrenamiento</p>
    </main>
</body>
</html>