<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Restablecimiento Enviada - FitRoutine</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Solicitud de Restablecimiento Enviada</h2>
        <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
    </div>
</body>
</html>