body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main {
    margin-top: 40px; /* Adjust this value based on the height of the header */
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h1 {
    color: #333;
    text-align: center;
}

form, .container {
    background: #ffffff;
    justify-content: center;
    align-items: center;
    display:inline-block;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left_side{
    flex:1;
    display:flex;
    justify-content: left;
    align-items: center;
}
.right-side{
    flex:2;
    padding: 20px;
    max-width: 400px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button, .btn {
    width: 100%;
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, .btn:hover {
    background: #4cae4c;
}

.btn-primary {
    background: #007bff;
}

.btn-primary:hover {
    background: #0056b3;
}

.btn-secondary {
    background: #6c757d;
}

.btn-secondary:hover {
    background: #5a6268;
}

.btn-danger {
    background: #dc3545;
}

.btn-danger:hover {
    background: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #ff2200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.logo {
    width: 300px;
    height: auto;
    align-items: center;
}
.muscle-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.muscle-group {
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.muscle-group a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
}

.muscle-group a:hover {
    color: #0056b3;
}